* {
  font-family: 'Comic-Sans';
  text-align: center;
  font-weight: bold;
  color: black;
}

body {
  margin: 60x auto
  width: 70%
}

nav ul, footer ul {
  padding: 0px;
  list-style: none;
}

nav ul li, footer ul li {
  display: inline;
}

a {
  text-decoration: none;
}

a:link {
  color: #33DD33;
}

a:active {
  color: #6A5ACD;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #33FFFF;
}

footer {
  font-size: .8em;
}

#border {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}